/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

    /* Change background color of buttons on hover */
    .tablink:hover {
        background-color: #777;
    }

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#Home {
    background-color: red;
}

#About {
    background-color: green;
}

#Portfolio {
    background-color: blue;
}

#Resume {
    background-color: orange;
}

#Contact {
    background-color: pink;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}