/* Style the tab buttons */
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

/*plum = #b60d48;
orange = #E19526; #F5BD1F
teal = #2b6a6c; #00868B-new
gray = #404040;*/

* {
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}



a:link {
    text-decoration: none;
}

.header {
}

header h1 {
    background-color: #00868B;
    color: white;
    float: left;
    border: none;
    font-size: 4vw;
    font-weight: bold;
    padding: unset;
    padding-left: 1vw;
    padding-top: 0vh;
    margin: unset;
    height: 15vh;
    width: 30vw;
    max-width: 30%;
    border-radius: 0% 25% 0% 0%;
}

.tab {
    padding: unset;
    margin: unset;
    color: white;
    float: left;
    background-color: #b60d48;
    width: 30vw;
    max-width: 30%;
    height: 75vh;
}

.tablinksP {
    display: block;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 7vh;
    margin-left: 5vw;
    text-align: center;
    cursor: pointer;
    height: 15vh;
    background-color: #00868B;
    font-size: 2vw;
    width: 20vw;
    border-radius: 0% 40% 0% 20%;
}

.myTextBoxP {
    background-color: white;
    position: fixed;
    height: 65vh;
    width: 55vw;
    max-height: 70vh;
    max-width: 60vw;
    border-radius: 0% 40% 0% 20%;
    margin-top: 20vh;
    margin-left: 35vw;
    float: left;
    display: block;
    list-style-type: disc;
}


.tabcontentP {
    color: #00868B;
    font-weight: bold;
    display: none;
    height: 90vh;
    text-align: center;
    background-color: #00868B;
    background-image: url(background.jpg);
}

/*change mini header*/
#miniHeader {
    font-size: 1.5vw;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #e1aa12;
}

.tablinksP:hover {
    background-color: #e1aa12;
}

/* Set default styles for tab content */
.tabcontent {
    color: #00868B;
    font-weight: bold;
    display: none;
    height: 90vh;
    text-align: center;
    background-color: #00868B;
    background-image: url(background.jpg);
}

.tablink {
    background-color: #00868B;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3vw;
    height: 15vh;
    width: 14vw;
    max-width: 14%;
    border-radius: 0% 40% 0% 20%;
}

footer {
    background-color: #00868B;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 10vh;
}


    footer .myFooterBox {
        padding: 0vw 10vw 0vw 10vw;
        height: 10vh;
        background-color: #00868B;
        margin: 0;
    }

    footer img {
        height: 7vh;
        padding-left: 1vh;
        padding-right: 1vh;
        margin-top: 1.5vh;
        background-color: white;
        border-radius: 5% 5% 5% 5%;
    }



/*main page styling*/
.myTextBox {
    background-color: white;
    position: fixed;
    height: 65vh;
    width: 55vw;
    max-height: 70vh;
    max-width: 60vw;
    border-radius: 0% 40% 0% 20%;
    margin-top: 20vh;
    margin-left: 10vw;
    float: left;
    display: block;
    list-style-type: disc;
}

#Home h1 {
    font-size: 10vw;
    text-align: left;
    color: #b60d48;
    padding-left: 1vw;
}

#Home p {
    font-size: 2.5vw;
    text-align: left;
    width: 55vw;
    padding-left: 1vw;
    max-width: 80vw;
    color: #b60d48;
}

#Home img {
    width: 20vw;
    margin-right: 10vw;
    padding-top: 5vh;
    float: right;
    border-radius: 0% 40% 0% 20%;
    display: block;
    max-height: 70vh;
}

/*main page styling*/


#Portfolio h1 {
    font-size: 5vw;
    text-align: left;
    color: #b60d48;
    padding-left: 1vw;
}

#Portfolio p {
    font-size: 2vw;
    text-align: left;
    width: 55vw;
    padding-left: 1vw;
    max-width: 80vw;
    color: #b60d48;
}

#Portfolio img {
    width: 20vw;
    margin-right: 10vw;
    padding-top: 5vh;
    float: right;
    border-radius: 0% 40% 0% 20%;
    display: block;
    max-height: 70vh;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
}

.right {
    cursor: pointer;
    float: right;
    margin-top: 25vh;
    margin-right: 2vw;
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    border-left: 5vw solid #b60d48;
}

.left {
    cursor: pointer;
    margin-left: 2vw;
    float: left;
    margin-top: 25vh;
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    border-right: 5vw solid #b60d48;
}

/*about page styling*/

#About h1 {
    font-size: 10vw;
    text-align: left;
    color: #b60d48;
    padding-left: 1vw;
    padding-bottom: unset;
}

#About p {
    font-size: 1.5vw;
    text-align: left;
    width: 55vw;
    padding-top: unset;
    padding-left: 1vw;
    max-width: 80vw;
    color: #b60d48;
}

#About ul {
    text-align: left;
    padding-left: 3vw;
    font-size: 1.5vw;
}

#About img {
    width: 20vw;
    margin-right: 10vw;
    padding-top: 5vh;
    float: right;
    border-radius: 0% 40% 0% 20%;
    display: block;
    max-height: 70vh;
}

#About br {
    padding-top: 5vh;
}

.clip-ellipse {
    clip-path: ellipse(50% 50% at 50% 50%);
}

/*Portfolio page*/
#Resume .myTextBox {
    width: 30vw;
    margin-left: 3vw;
}

#Resume h1 {
    font-size: 5vw;
    text-align: left;
    color: #b60d48;
    padding-left: 1vw;
}

#Resume p {
    font-size: 1.5vw;
    text-align: left;
    width: 28vw;
    max-width: 30vw;
    padding-left: 1vw;
    color: #b60d48;
}

#Resume embed {
    float: right;
    width: 60vw;
    height: 70vh;
    margin-right: 3vw;
    padding-top: 5vh;
    float: right;
    display: block;
}

/*contact page styling*/

#Contact h1 {
    font-size: 10vw;
    text-align: left;
    color: #b60d48;
    padding-left: 1vw;
    padding-bottom: unset;
}

#Contact p {
    font-size: 3vw;
    text-align: left;
    width: 55vw;
    padding-top: unset;
    padding-left: 1vw;
    max-width: 80vw;
    color: #b60d48;
}

#Contact ul {
    text-align: left;
    padding-left: 3vw;
    font-size: 1.5vw;
}

.LI-profile-badge {
    margin-right: 10vw;
    max-width: 20vw;
    margin-top: 4vh;
    float: right;
}

@media only screen and (max-width:380px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
    .myTextBox {
        margin-top: 15vh;
        margin-left: 20vw;
        width: 90vw;
        height: 20vh;
    }

    .myTextBoxP {
        margin-top: 15vh;
        width: 90vw;
        height: 60vh;
    }

    .tab {
        height: 80vh;
    }

    #Home p {
        font-size: 3vw;
    }

    #Home img {
        margin: unset;
        float: left;
        padding-left: 20vw;
        padding-top: 30vh;
        height: 70vh;
        width: auto;
        border-radius: 0% 40% 0% 20%;
    }

    #About img {
        margin: unset;
        float: left;
        padding-left: 20vw;
        padding-top: 30vh;
        height: 70vh;
        width: auto;
        border-radius: 0% 40% 0% 20%;
    }

    header h1 {
        height: 10vh;
    }

    .tablink {
        height: 10vh;
    }

    footer .myFooterBox {
        padding: unset;
        margin: unset;
    }

    footer img {
        padding: unset;
        margin: unset
    }

    .LI-profile-badge {
        float: left;
        margin-left: 0vw;
        max-width: 20vw;
        margin-top: 30vh;
        float: right;
    }
}