/* Style the tab buttons */
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

* {
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}

.header {

}

header h1 {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    font-size: 40px;
    font-weight: bold;
    padding: unset;
    margin: unset;
    height: 15vh;
    width: 30%;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    height: 15vh;
    width: 14%;
}
/*change mini header*/
#miniHeader {
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    height: 90vh;
    text-align: center;
}

/* Style each tab content individually */
#Home {
    background-color: red;
}

#About {
    background-color: green;
}

#Portfolio {
    background-color: blue;
}

#Resume {
    background-color: orange;
}

#Contact {
    background-color: pink;
}

footer {
    background-color: #555;
    padding:15px;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 10vh;
}

footer a {
    margin: 10%;
}

/*main page styling*/

#Home h1{
     font-size: 6em;
     text-align: left;
     margin-left: 5vw;
     margin-top: 20vh;
}

#Home p {
    font-size: 1.5em;
    text-align: left;
    margin-left: 5vw;
    width: 50vw;
}

#Home img {
    width:20%;
    padding: 0px;
    margin-right: 10vw;
    margin-top: 5vh;
    float: right;
}

.clip-ellipse {
 clip-path: ellipse(50% 50% at 50% 50%);
}